
<div class="main_img"><img src="__PUBLIC__\0001.jpg" width="400px" height="350px"></div>
<div class="main">
<div class="contest">
<H1>最近比赛</H1>
<h2>contest1</h2>
<DIV class="pending">pending </DIV>
<h2>contest2</h2>
<DIV class="pending">pending </DIV>
<h2>contest3</h2>
<DIV class="pending">pending </DIV>
<h2>contest4</h2>
<DIV class="pending">pending </DIV>
</div>
</div>
<div class="news">
<h1>新闻</h1>
<h2>Free Web Building Tutorials</h2>
<p>At W3School.com.cn you will find all the Web-building tutorials you need,
from basic HTML and XHTML to advanced XML, XSL, Multimedia and WAP.</p>
<p>W3School.com.cn - The Largest Web Developers Site On The Net!</p><h2>Free Web Building Tutorials</h2>
<p>At W3School.com.cn you will find all the Web-building tutorials you need,
from basic HTML and XHTML to advanced XML, XSL, Multimedia and WAP.</p>
<p>W3School.com.cn - The Largest Web Developers Site On The Net!</p><h2>Free Web Building Tutorials</h2>
<p>At W3School.com.cn you will find all the Web-building tutorials you need,
from basic HTML and XHTML to advanced XML, XSL, Multimedia and WAP.</p>
<p>W3School.com.cn - The Largest Web Developers Site On The Net!</p><h2>Free Web Building Tutorials</h2>
<p>At W3School.com.cn you will find all the Web-building tutorials you need,
from basic HTML and XHTML to advanced XML, XSL, Multimedia and WAP.</p>
<p>W3School.com.cn - The Largest Web Developers Site On The Net!</p>
</div>
